.details{
  height: calc(100vh - 74px);
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ced4da;
  padding-left:0;
}

.custom-movie-details-item{
  padding: 20px;
  border-left: 1px solid #ced4da;
}

.list-films{
  overflow-y: auto;
  height: calc(100vh - 74px);
  background-color: white;
  padding-right:0;

}
